@charset "UTF-8";
/**-------*Прибрати всі списки*/
/** Сброс марджинов для загаловков и тектовых блоков */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/**-------------Прибираємо курсив Подвал*/
a {
  font-style: normal;
}

.page {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-fons-color);
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #2196F3;
  --accent-text-color: #757575;
  --primary-bck-color: #F5F5F5;
  --button-fons-color: #188CE8;
  --white-fons-color: #FFFFFF;
  --white-second-color: #F5F4FA;
  --black-fons-color: #2F303A;
  --logo-text-color: #000000;
  --card-content: #EEEEEE;
  --color-fon-icon: #F5F4FA;
  --border-fon-heder: #ECECEC;
  --border-line: #AFB1B8;
  --footer-soc-link: rgba(255, 255, 255, 0.1);
  --backdrop-color-fon: rgba(0, 0, 0, 0.2);
  --portfolio-card-fon: rgba(47, 48, 58, 0.8);
  --input-area-color: rgba(33, 33, 33, 0.2);
  --modal-btg-color: rgba(0, 0, 0, 0.15);
  --button-modal-color: rgba(0, 0, 0, 0.1);
  --text-modal-footer-btg: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

/**------------------------Кнопка heder*/
button {
  font-family: inherit;
  border: none;
}

.button {
  height: 50px;
  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-fons-color);
  background-color: var(--primary-bck-color);
  cursor: pointer;
}

.button.primary {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-fons-color);
  background-color: var(--title-text-color);
}
.button.primary:hover, .button.primary:active {
  background-color: var(--button-fons-color);
}

/***-----------------Модалка----------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--backdrop-color-fon);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-fons-color);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 10px;
  letter-spacing: 0.01em;
  color: var(--accent-text-color);
}

.text-area {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-left: 12px;
  border: 1px solid var(--input-area-color);
  border-radius: 4px;
  resize: none;
}
.text-area::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area::placeholder, .text-area {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/***--------CheckBOX-------------------*/
.line {
  position: relative;
}

.policy-uptitle {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-left: 8px;
  color: var(--title-text-color);
}

.policy-uptitle::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--title-text-color);
}

.policy-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 8px;
}

.policy-title span {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: transparent;
}

.modal-check:checked + .policy-title span {
  background-color: var(--title-text-color);
  border: none;
  fill: var(--white-fons-color);
}

.modal-check:focus + .policy-title span {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.button.push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.push:hover, .button.push:focus {
  background-color: var(--button-fons-color);
  -webkit-box-shadow: 0px 4px 4px var(--modal-btg-color);
          box-shadow: 0px 4px 4px var(--modal-btg-color);
}

.modal-form .button {
  margin: 0 auto;
}

/**-----------------------------------*/
.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 35px;
  cursor: pointer;
  border: 1px solid var(--input-area-color);
}
.modal-input:focus {
  border-color: var(--title-text-color);
}
.modal-input:focus + .input-icon {
  fill: var(--title-text-color);
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.276);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: rgba(0, 128, 0, 0.276);
}
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.276);
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(128, 36, 0, 0.276);
}
.modal-input:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(128, 36, 0, 0.276);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 36, 0, 0.276);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--button-modal-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-fons-color);
}
.button-modal:hover, .button-modal:focus {
  color: var(--title-text-color);
  border: 1px solid var(--title-text-color);
}

.modal-icon {
  fill: currentColor;
}

/*--------------------------HEDER-------------*/
.page-header {
  background-color: var(--white-fons-color);
}

.page .page-header {
  border-bottom: 1px solid var(--border-fon-heder);
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**-------------------FLEX меню шапки**/
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav .site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*.site-nav .item-nav + .item-nav {
    margin-left: 40px;
}*/
/**---------------Site nav color*/
.current::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--title-text-color);
  border-radius: 2px;
}

.site-nav__link {
  position: relative;
}

.site-nav .site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--title-text-color);
}

.site-nav .site-nav__link.current {
  color: var(--title-text-color);
}

/**-------------------FLEX + icon phone**/
.info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.info-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.info-nav__icon {
  fill: var(--accent-text-color);
  fill: currentColor;
}

/*.link-info::before {
    display: block;
    content: "";
    height: 16px;
    width: 12px;
    background-image: url("../images/envelope.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}*/
.info-nav .info-nav__item + .info-nav__item {
  margin-left: 50px;
}

.info-nav .link-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.info-nav .info-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.info-nav .info-nav__link:hover,
.info-nav .info-nav__link:focus .info-nav__icon {
  color: var(--title-text-color);
}

.info-nav .info-nav__link:hover,
.info-nav .info-nav__link:focus {
  color: var(--title-text-color);
}

/**---------------------Hero---------------*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-fons-color);
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-fons-color);
}

/**-------------Logo link color*/
.main-logo__link {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.main-logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  color: var(--logo-text-color);
}

/*----------Section-title---Чим ми займаємося---------*/
.position {
  padding-bottom: 94px;
}

.position__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.position__photo__title {
  display: block;
  max-width: 100%;
  height: auto;
}

.position__uptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

/***-----Позиціонування---------------***/
.position__photo {
  position: relative;
}

.position__content {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--portfolio-card-fon);
  color: var(--white-fons-color);
}

/*.section__image {
    display: block;
    max-width: 100%;
    height: auto;
}*/
.position__title .position__image {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

/**-------------content-title Особливості*/
.content {
  padding-top: 94px;
  padding-bottom: 94px;
}
.content__item::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-fon-icon);
}

.content__subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.content__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.content__text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.content__subtitle .content__uptitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.antenna::before {
  background-image: url("../images/antenna.svg");
}

.clock::before {
  background-image: url("../images/clock.svg");
}

.diagram::before {
  background-image: url("../images/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

/**-------------Features-title Наша команда*/
.features {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-second-color);
}

.features__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.features__subtitle {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

/*.features__subtitle .benefits-uptitle {
    flex-basis: calc((100% - 90px) / 4);
}*/
.features__list {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.features__items {
  margin-bottom: 10px;
}

.features__text {
  margin-bottom: 16px;
}

.features__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.features__uptitle {
  background-color: var(--white-fons-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.features__subtitle .features__items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features__subtitle .features__text {
  font-size: 16px;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/**Список соцмереж в секції Наша команда**/
.contact-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.contact-soc__link:hover, .contact-soc__link:focus {
  background-color: var(--title-text-color);
}
.contact-soc__link:hover .contact-soc__icon {
  fill: var(--white-fons-color);
}
.contact-soc__link:focus .contact-soc__icon {
  fill: var(--white-fons-color);
}

.contact-soc__link {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: var(--white-fons-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-soc__icon {
  fill: var(--border-line);
}

/*.link {
    display: inline-block;
    margin-top: 16px;
    width: 44px;
    height: 44px;
    background-color: var(--white-fons-color)
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.instagram {
    background-image: url("../images/instagram.svg");
}
.twitter {
    background-image: url("../images/twitter.svg");
}
.facebook {
    background-image: url("../images/facebook.svg");
}
.linkidin {
    background-image: url("../images/linkedin.svg");
}*/
/***Постійні клієнти-------------**/
.company {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-company {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.client-company__uptitle:hover, .client-company__uptitle:focus .client-company__icon {
  border-color: var(--title-text-color);
  color: var(--title-text-color);
}

.client-company__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.client-company__uptitle {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-line);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-fons-color);
  color: var(--border-line);
}

.client-company__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*.company-soc-icon:hover,
.company-soc-icon:focus {
    fill: var(--title-text-color);
}*/
/*------------Меню-Бар-Кнопок--------*/
.menu-btg {
  padding-top: 94px;
  padding-bottom: 94px;
}

/**-------------Список моя сторінка*/
.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.button-list__bth + .button-list__bth {
  margin-left: 8px;
}

.button-second {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  background-color: var(--white-second-color);
}
.button-second:hover, .button-second:active, .button-second:focus {
  color: var(--white-fons-color);
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**---------Список--Контекстне--меню----------*/
.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.benefits-list__title:hover .portfolio-thumb__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.benefits-list__link:hover, .benefits-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.benefits-list .benefits-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 60px) / 3);
  background-color: var(--white-fons-color);
}

/*.benefits-title .benefits-subtitle:nth-child(3n) {
    margin-right: 30px;
}*/
/*.benefits-title .benefits-subtitle + .benefits-subtitle {
    margin-left: 30px;
    margin-bottom: 30px;
}*/
/*.benefits-title .benefits-subtitle:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-thumb__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: var(--title-text-color);
  color: var(--white-fons-color);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--card-content);
  border-top: 0;
}
.card-content__items {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.card-content__title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--accent-text-color);
}

/**-------------ПРИЄДНУЙТЕСЬ-------------**/
.footer-container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-soc {
  margin-left: 70px;
}

.footer-soc__title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-fons-color);
}

.footer-title__link {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--footer-soc-link);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title__icon {
  fill: var(--white-fons-color);
}

.footer-title__link:hover,
.footer-title__link:focus {
  background-color: var(--title-text-color);
}

/***------INPUT-FOOTER-------------*/
.footer-form__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-fons-color);
}

.footer-form__label {
  margin-right: 12px;
}

.footer-form__input:focus,
.footer-form__input:hover {
  border-color: var(--button-fons-color);
  outline: var(--button-fons-color);
}

/*
.footer-label {
    display: flexbox;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-fons-color);
}*/
.footer-form {
  margin-left: auto;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-moz-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder, .footer-form__input {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button.putt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.putt:hover,
.button.putt:focus {
  -webkit-box-shadow: 0px 4px 4px var(--modal-btg-color);
          box-shadow: 0px 4px 4px var(--modal-btg-color);
}

.footer-form__icon {
  margin-left: 10px;
}

/**----------------Footer+LOGO-------------*/
.footer-contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-fons-color);
}

.main-logo__list {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-fons-color);
}

.contact-title {
  margin-top: 20px;
}

.contact-subtitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-fons-color);
}

.contact-uptitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}

.contact-items .contact-uptitle:hover,
.contact-items .contact-uptitle:focus {
  color: var(--title-text-color);
}

.contact-items__link:not(:last-child) {
  margin-bottom: 9px;
}/*# sourceMappingURL=main.css.map */