/**-------------content-title Особливості*/
.content {
    padding-top: 94px;
    padding-bottom: 94px;

    &__item::before {
        margin-bottom: 30px;
        display: block;
        content: "";
        height: 120px;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-fon-icon);
    }
}
.content__subtitle {
    justify-content: center;
    display: flex;
    gap: 30px;
}
.content__item {
    flex-basis: calc((100% - 90px) / 4);
}
.content__text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.content__subtitle .content__uptitle {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
    .antenna::before {
    background-image: url("../images/antenna.svg");
    }
    .clock::before {
    background-image: url("../images/clock.svg");
    }
    .diagram::before {
    background-image: url("../images/diagram.svg");
    }
    .astronaut::before {
    background-image: url("../images/astronaut.svg");
    }