/*----------Section-title---Чим ми займаємося---------*/
.position {
    // padding-bottom: 94px;

    @include toDesktop {
		display: none;
	}
}
.position__title {
    // margin-bottom: 50px;
    // font-size: 36px;
    // line-height: 1.67;
    // letter-spacing: 0.03em;
    // text-align: center;
    // color: var(--primary-text-color);
    @include desktop {
		margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.67;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--primary-text-color);
	}
}
.position__photo__title {
    // display: block;
    // max-width: 100%;
    // height: auto;
    @include desktop {
		 display: block;
         max-width: 100%;
         height: auto;
	}
}
.position__uptitle {
    // display: flex;
    // gap: 30px;
    @include desktop {
        display: flex;
        gap: 30px;
   }
}

/***-----Позиціонування---------------***/
.position__photo {
    // position: relative;
    @include desktop {
        position: relative;
   }
}
.position__content {
    // position: absolute;
    // width: 370px;
    // height: 70px;
    // left: 0;
    // bottom: 0;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // font-size: 14px;
    // line-height: 1.14;
    // text-align: center;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;

    // background-color: var(--portfolio-card-fon);
    // color: var(--white-fons-color);
    @include desktop {
        position: absolute;
        width: 370px;
        height: 70px;
        left: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        background-color: var(--portfolio-card-fon);
        color: var(--white-fons-color);
   }
}
/*.section__image {
    display: block;
    max-width: 100%;
    height: auto;
}*/
.position__title .position__image {
    // flex-basis: calc((100% - 90px) / 4);
    @include desktop {
        flex-basis: calc((100% - 90px) / 4);
   }
}
