:root {
  --primary-text-color: #212121;
  --title-text-color: #2196F3;
  --accent-text-color: #757575;
  --primary-bck-color: #F5F5F5;
  --button-fons-color: #188CE8;
  --white-fons-color: #FFFFFF;
  --white-second-color: #F5F4FA;
  --black-fons-color: #2F303A;
  --logo-text-color: #000000;
  --card-content: #EEEEEE;
  --color-fon-icon: #F5F4FA;
  --border-fon-heder: #ECECEC;
  --border-line: #AFB1B8;
  --footer-soc-link: rgba(255, 255, 255, 0.1);
  --backdrop-color-fon: rgba(0, 0, 0, 0.2);
  --portfolio-card-fon: rgba(47, 48, 58, 0.8);
  --input-area-color: rgba(33, 33, 33, 0.2);
  --modal-btg-color: rgba(0, 0, 0, 0.15);
  --button-modal-color: rgba(0, 0, 0, 0.1);
  --text-modal-footer-btg: rgba(255, 255, 255, 0.6);
}