.page {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-fons-color);
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    }