/***------INPUT-FOOTER-------------*/
.footer-form__modal {
    // display: flex;
    @include desktop {
        display: flex;
	}
}
.footer-form__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-fons-color);

    // @include tablet {
    //     display: flex;
    //     justify-content: center;
    // }

    @include desktop {
        justify-content: flex-start;
    }
}
.footer-form__label {
    margin-right: 12px;
}
.footer-form__input:focus,
.footer-form__input:hover {
  border-color: var(--button-fons-color);
  outline: var(--button-fons-color);
}
/*
.footer-label {
    display: flexbox;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-fons-color);
}*/
.footer-form {
//    margin-left: auto;
    @include desktop {
       margin-left: auto;
  }
}
.footer-form__input {
    // width: 358px;
    width: 450px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0.03em;
    cursor: pointer;

    margin-bottom: 20px;

    padding: 16px 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: #2F303A;

    @include desktop {
        width: 358px;
        margin-bottom: 0;
	}
}
.footer-form__input::placeholder, .footer-form__input {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button.putt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    min-width: 200px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
	}
}
.button.putt:hover,
.button.putt:focus {
    box-shadow: 0px 4px 4px var(--modal-btg-color);
}
.footer-form__icon {
    margin-left: 10px;
}