/**----------------Footer+LOGO-------------*/
.footer-contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-fons-color);
}
.footer-container {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    text-align: center;
    gap: 60px;

    @include desktop {
        text-align: left;
	}
}
.main-logo__list {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-fons-color);
}
.contact-title {
    margin-top: 20px;
}
.contact-subtitle {
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--white-fons-color);
}
.contact-uptitle {
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: rgba(255, 255, 255, 0.6);
}
.contact-items .contact-uptitle:hover,
.contact-items .contact-uptitle:focus {
    color: var(--title-text-color);
}
.contact-items__link:not(:last-child) {
    margin-bottom: 9px;
} 