.mob-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: var(--white-fons-color);
    
    transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&.is-open {
		transform: translateX(0);
	}

	@include tablet {
		display: none;
    }
}
.menu-container {
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
}
.menu-button {
    position: absolute;
	top: 10px;
	right: 15px;
	margin-left: auto;

	width: 40px;
	height: 40px;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
}
.button-open-icon {
    fill: currentColor;
}
// .menu-close__button {
//     display: block;
//     margin-left: auto;
// }
.menu-mobile__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--title-text-color);
        outline: transparent;
}
}
// .link_current {
//     color: var(--title-text-color);
// }
.mobile-menu {
    margin-bottom: 64px;;
}
.mobile-menu__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--accent-text-color);

    &:hover,
	&:focus {
		color: var(--title-text-color);
		outline: transparent;
	}

	@include tablet {
		display: none;
	}
}
.menu-mobile__item,
.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}
.mobile-social__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;

	color: var(--title-text-color);
}
.mobile-social {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.mobile-social__item {
	@include toMobile {
		flex-basis: calc((100% - 10px) / 2);
	}
}